:root {
    --bg-color: #174076;
    --bg-color-dark: #222222;
    --text-color: #000000;
    --header-color: #64748b;
    --color-black: #000000;
    --color-white: #ffffff;
    --page-bg: #f3eeee;
    --btn-hover: #d3cfcf;
    --font-size: 10px;
    --font-family: 'Lato', sans-serif;
    --font-family-h: 'Merriweather Sans', sans-serif; }
  
  *,
  *::before,
  *::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box; }
  
  html {
    font-size: 10px; }
  
  a,
  a:link,
  a:visited {
    text-decoration: none; }
  
  p {
    font-weight: 300; }
  
  body {
    font-family: var(--font-family); }
  
  /*-------------------------------
  | --> Home page
   ------------------------------*/
  .nav {
    display: flex;
    padding: 3.5rem 10rem;
    align-items: center;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    z-index: 100000; }
    .nav__link {
      color: var(--header-color);
      font-size: 1.5rem;
      padding-right: 1.5rem; }
      .nav__link--logo {
        font-size: 2.5rem;
        margin-right: 2rem;
        font-weight: 700;
        display: flex;
        align-items: center; }
        .nav__link--logo__icon {
          margin-right: 1rem;
          width: 50px; }
  
  .header {
    position: relative;
    width: 100%;
    padding: 5rem 10rem;
    display: flex;
    align-items: center; }
    .header__content {
      margin-top: 5rem;
      width: 40%;
      flex: 0 0 50%; }
      .header__content__lead {
        font-size: 6rem;
        line-height: 1em;
        font-weight: 900;
        margin-bottom: 4rem;
        font-family: var(--font-family-h);
        color: var(--header-color); }
      .header__content__para {
        font-size: 2rem;
        font-weight: 300; }
      .header__content__links {
        margin-top: 5rem; }
    .header__img {
      height: 40rem;
      margin: 0 auto;
      width: 35%; }
  
  .button {
    font-size: 1.5rem;
    font-weight: 600;
    padding: 2rem 4rem; }
    .button--filled {
      color: var(--color-white);
      background-color: var(--bg-color); }
    .button--ghost {
      color: var(--bg-color); }
  
  /*-------------------------------
  | <-- Home page
   ------------------------------*/
  /*-------------------------------
  | --> About page
   ------------------------------*/
  .about {
    padding: 5rem 10rem;
    display: flex;
    flex-wrap: wrap;
    font-size: 1.5rem;
    font-weight: 300;
    margin-top: 10rem;
    background-color: var(--page-bg);
    justify-content: space-between; }
    .about__content {
      flex: 0 0 47%;
      margin-bottom: 5rem; }
      .about__content__header {
        font-size: 3rem;
        font-weight: 500;
        font-family: var(--font-family-h);
        margin-bottom: 2rem;
        color: var(--header-color); }
        .about__content__header::after {
          display: block;
          content: '';
          width: 30%;
          height: 2px;
          background-color: var(--header-color);
          margin-top: 1.5rem; }
      .about__content__para {
        font-size: 2rem; }
  
  /*-------------------------------
  | <-- About page
   ------------------------------*/
  /*-------------------------------
  | --> FAQ
   ------------------------------*/
  .misc {
    display: flex;
    padding: 10rem;
    align-items: start;
    justify-content: space-between; }
    .misc__content {
      flex: 0 0 47%; }
      .misc__content--faq__header {
        font-size: 3rem;
        color: var(--header-color);
        margin-bottom: 5rem; }
        .misc__content--faq__header::after {
          display: block;
          content: '';
          width: 30%;
          height: 2px;
          background-color: var(--header-color);
          margin-top: 1.5rem; }
      .misc__content--faq__question {
        margin-bottom: 2rem; }
        .misc__content--faq__question__header {
          font-size: 2rem;
          color: var(--header-color);
          margin-bottom: 2rem;
          font-weight: 400;
          display: flex;
          align-items: center; }
          .misc__content--faq__question__header--icon {
            margin-right: 1rem;
            width: 20px; }
        .misc__content--faq__question__para {
          font-size: 2rem; }
      .misc__content--validate__header {
        font-size: 3rem;
        font-weight: 500;
        font-family: var(--font-family-h);
        margin-bottom: 2rem;
        color: var(--header-color); }
        .misc__content--validate__header::after {
          display: block;
          content: '';
          width: 30%;
          height: 2px;
          background-color: var(--header-color);
          margin-top: 1.5rem; }
      .misc__content--validate__para {
        font-size: 2rem; }
      .misc__content--validate__ul {
        margin-top: 2rem; }
        .misc__content--validate__ul__li {
          margin-bottom: 1.5rem;
          font-size: 2rem;
          font-weight: 300; }
  
  /*-------------------------------
  | <-- FAQ
   ------------------------------*/
  .main-body {
    min-width: 100%;
    height: 100vh;
    color: var(--color-black); }
  
  .container {
    width: 60%;
    margin: 2rem auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    padding: 10rem;
    box-sizing: border-box; }
    .container > a {
      position: relative;
      flex: 0 0 25%;
      margin: 0.3rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 6rem !important; }
  
  .wallet {
    font-size: 0.6rem;
    color: black !important;
    display: flex;
    flex-direction: column; }
    .wallet:hover {
      color: black; }
    .wallet__image {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      padding: 1rem; }
      .wallet__image:hover {
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
    .wallet__name {
      display: block;
      margin-top: 1.5rem;
      font-size: 2rem; }
  
  .deactivate {
    display: none !important;
    position: relative;
    border-radius: 2rem;
    padding: 0.1rem 0.8rem;
    font-size: 0.6rem;
    border: 2px solid rgba(241, 241, 241, 0.93);
    justify-content: center;
    align-items: center;
    text-align: center;
    color: green; }
  
  /*
    IMPORT SECTION
   */
  .import {
    min-width: 100%;
    height: 100vh;
    color: var(--color-black);
    padding-top: 3rem; }
    .import__container {
      width: 40%;
      min-height: 50vh;
      position: relative;
      margin: 0 auto; }
    .import__header {
      display: flex;
      justify-content: space-between; }
      .import__header__wallets, .import__header__wallet {
        margin-right: 1rem;
        font-size: 1.5rem;
        font-weight: 500;
        display: flex;
        align-items: center;
        margin-bottom: 1.5rem;
        padding: 1.5rem 2rem;
        border-radius: 0.5rem;
        background-color: #007bff;
        width: 20rem;
        color: var(--color-white); }
        .import__header__wallets--icon, .import__header__wallet--icon {
          display: inline-block;
          margin-right: 1rem;
          width: 25px; }
      .import__header__wallet {
        background-color: var(--page-bg);
        color: var(--color-black); }
    .import__tab {
      margin-top: 5rem; }
      .import__tab__header {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        background-color: var(--page-bg);
        margin-bottom: 2rem;
        border-radius: 0.5rem; }
        .import__tab__header > a {
          color: var(--color-black);
          text-decoration: none;
          text-align: center;
          font-size: 1.5rem;
          padding: 1.5rem;
          box-sizing: border-box;
          flex: 0 0 (); }
          .import__tab__header > a:hover {
            background-color: #007bff;
            border-radius: 0.5rem;
            transition: background-color 0.2s linear;
            color: var(--color-white); }
          .import__tab__header > a.current {
            font-weight: bold;
            background-color: #007bff;
            border-radius: 0.5rem;
            color: var(--color-white); }
            .import__tab__header > a.current:hover {
              border: none; }
      .import__tab__body--item {
        display: none; }
        .import__tab__body--item.hidden {
          display: none; }
        .import__tab__body--item.current {
          display: block; }
  
  /*
  FORM ELEMENTS
   */
  .form__input {
    display: block;
    width: 100%;
    border-radius: 5px;
    font-family: var(--font-family);
    padding: 1rem;
    box-sizing: border-box;
    color: grey;
    margin-bottom: 0.8rem;
    font-size: 1.5rem;
    border: 1px solid var(--color-black); }
    .form__input:focus {
      border: 1.5px solid black;
      outline: none; }
    .form__input--textarea {
      resize: none; }
    .form__input::placeholder {
      color: grey;
      font-size: 1.2rem; }
  
  .form__label {
    font-size: 1.5rem;
    color: grey; }
  
  .form__button {
    background: #007bff;
    display: block;
    width: 100%;
    padding: 1rem;
    border: none;
    outline: none;
    margin-top: 3rem;
    box-sizing: border-box;
    font-size: 1.8rem;
    text-transform: uppercase;
    color: var(--color-white);
    border-radius: 3px; }
    .form__button:hover {
      cursor: pointer; }
  
  .qr {
    background-color: #1c243b;
    min-width: 100%;
    height: 100vh;
    color: var(--color-white);
    padding-top: 1rem; }
    .qr__body {
      width: 50%;
      margin: 0 auto;
      text-align: center;
      position: relative; }
      .qr__body > img {
        width: 50%; }
      .qr__body > p {
        background: var(--color-black);
        display: block;
        width: 50%;
        margin: 0 auto;
        position: relative;
        padding: 0.5rem;
        font-size: 2rem;
        text-align: left; }
  
  /**
    MOBILE RESPONSIVENESS
  */
  @media only screen and (max-width: 1280px) {
    html {
      font-size: 9px; }
    .main-body {
      min-height: 100vh; }
    .container {
      width: 80%; } }
  
  @media only screen and (max-width: 1100px) {
    html {
      font-size: 8px; } }
  
  @media only screen and (max-width: 900px) {
    .import {
      min-height: 100vh; }
      .import__container {
        width: 60%; }
    .qr {
      min-height: 100vh; }
      .qr__body {
        width: 60%; }
        .qr__body > img {
          width: 60%; }
        .qr__body > p {
          width: 60%; } }
  
  @media only screen and (max-width: 800px) {
    .nav {
      padding: 7rem; }
    .header {
      padding: 7rem; }
      .header__content {
        flex: 1; }
      .header__img {
        display: none; }
    .about {
      padding: 5rem 7rem; }
      .about__content {
        flex: 0 0 100%; }
    .misc {
      padding: 5rem 7rem;
      display: block; }
      .misc__content {
        margin-bottom: 6rem; }
    .container {
      width: 90%; }
    .wallet__image {
      width: 60px;
      height: 60px; }
    .wallet__name {
      font-size: 1.5rem; } }
  
  @media only screen and (max-width: 680px) {
    .nav,
    .header,
    .about {
      padding: 5rem; }
    .main-body {
      min-height: 100vh; }
    .container {
      width: 90%; }
    .import__container {
      width: 75%; }
    .qr {
      min-height: 100vh; }
      .qr__body {
        width: 70%; }
        .qr__body > img {
          width: 70%; }
        .qr__body > p {
          width: 70%; } }
  
  @media only screen and (max-width: 570px) {
    .wallet__image {
      width: 50px;
      height: 50px; }
    .wallet__name {
      font-size: 1.2rem; } }
  
  @media only screen and (max-width: 520px) {
    .nav,
    .header,
    .about {
      padding: 3rem; }
    .header {
      padding: 3rem; }
      .header__content__lead {
        font-size: 5rem; }
    .main-body {
      min-height: 100vh; }
    .container {
      padding: 1rem;
      width: 90%; }
      .container > a {
        flex: 0 0 40%; }
    .wallet__image {
      width: 50px;
      height: 50px; }
    .wallet__name {
      font-size: 1.5rem; } }
  
  @media only screen and (max-width: 480px) {
    .import__container {
      width: 90%; }
    .qr {
      min-height: 100vh; }
      .qr__body {
        width: 85%; }
        .qr__body > img {
          width: 85%; }
        .qr__body > p {
          width: 85%; } }